extends layout.pug
include utils.pug
block content
            h1 Profile Page
            p=userId
            h2 Username
                div=user.username
            if currentUser.id == user.id
                form(action=`/${user.id}/username/edit` method="post")
                    button(class="edit-btn" id=user.id) Edit Username
            h2 Email
                div=user.email
            if currentUser.id == user.id
                form(action=`/${user.id}/email/edit` method="post")
                    button(class="edit-btn" id=user.id) Edit Email
            h2 Questions
            each question in currentUser.Questions
                div(class=`post-container-${question.id}`)
                   include question-card
                    a(href=`/questions/${question.id}`) Go to your  Question!
                    if question.userId == user.id
                        form(action=`/questions/${question.id}/delete` method="post")
                            button(class="delete-btn" id=question.id) Delete
                    if question.userId == user.id
                        form(action=`/questions/${question.id}/edit` method="post")
                            button(class="edit-btn" id=question.id) Edit
            h2 Answers
            each answer in currentUser.Answers
                div(class=`post-container-${answer.id}`)
                    include answer-card
                    a(href=`/answers/${answer.id}`) Go to your Answer!
                    if answer.userId == user.id
                        form(action=`/answers/${answer.id}/delete` method="post")
                            button(class="delete-btn" id=answer.id) Delete
                    if answer.userId == user.id
                        form(action=`/answers/${answer.id}/edit` method="post")
                            button(class="edit-btn" id=answer.id) Edit
