extends layout.pug
include utils.pug
block content
            h1 Profile Page
            h2 Username
                div=user.username
            if userId == userId
                form(action=`/${user.id}/username/edit` method="post")
                    button(class="edit-btn" id=user.id) Edit Username
            h2 Email
                div=user.email
            if userId == userId
                form(action=`/${user.id}/email/edit` method="post")
                    button(class="edit-btn" id=user.id) Edit Email
            each question in user.Questions
                div(class=`post-container-${question.id}`)
                    div=question.title
                    div=question.content
                    a(href=`/questions/${question.id}`) Go to the Question!
                    if question.userId == userId
                        form(action=`/questions/${question.id}/delete` method="post")
                            button(class="delete-btn" id=question.id) Delete
                    if question.userId == userId
                        form(action=`/questions/${question.id}/edit` method="post")
                            button(class="edit-btn" id=question.id) Edit
