html
    head
        body
            h1 Profile Page
            each question in user
                div(class=`post-container-${question.id}`)
                    div=question.title
                    div=question.content
                    a(href=`/questions/${question.id}`) Got to the Question!
                    if question.userId == userId
                        form(action=`/questions/${question.id}/delete` method="post")
                            button(class="delete-btn" id=question.id) Delete
                    if question.userId == userId
                        form(action=`/questions/${question.id}/edit` method="post")
                            button(class="edit-btn" id=question.id) Edit
