div(class="question-card")
  h1= question.title
  div|!{question.content}
  span Author:
  a(class="answer-author answer-util-btn" href=`/users/${question["User.id"]}`)= question["User.username"]
  if user
    if question.userId == user.id
      //- form(class="answer-utils" action=`/api/answers/${answer.id}/edit`)
      //-   button(class="answer-util-btn") Edit
      form(class="answer-utils" action=`/api/questions/${question.id}/delete` method="POST")
        button(class="answer-util-btn") Delete
