div(class="question-card")
  div.question-sidebar
    div.voting
      if votableQuestions
        button(class=`upVote` id=`upVote-${question.id}` data-questionId=`${question.id}`) ▲
        button(class=`downVote` id=`downVote-${question.id}` data-questionId=`${question.id}`) ▼
      div.voteCount(id=`voteCount-${question.id}`)= question.voteCount
    if !currentUser
      if showAnswersCount
        span(class="answers-count") #{`${question.Answers.length}`}
          span(class="answers-count") Answers

  div.question-content-container
    a(href=`/questions/${question.id}`)
      h1(class="question-card-title")= question.title
    div.question-content|!{question.content}
  div.answer-options
    if !currentUser
      div.author
        span Author:
        a(class="answer-author answer-util-btn" href=`/users/${question.User.id}`)= question.User.username
    div.delete-answer
      if user
        if question.userId == user.id
          form(class="answer-utils" action=`/api/questions/${question.id}/delete` method="POST")
            button(class="answer-util-btn" class="delete-btn") Delete
